.Gif{
    border: 1px solid #eee;
    border-radius: 6px;
    display: flex;
    width: 100%;
    margin: 16px;
    padding: 32px;
    flex-direction: column;
    color: #fff;
    text-decoration: none;
}

.Gif img{
    width: 100%;
    vertical-align: top;
    object-fit: contain;
}

.Gif h4{
    margin: 0;
}

